<p id="notice"><%= notice %></p>
<center><h1>RSS Feed</h1>
<%= link_to 'View Websites', websites_path, class: "btn", style: 'a {font-weight: 300; color: black}' %></center><br>
<div class = "row">
 <%= @array %>
<% @array.each do |entry| %>
<div class = 'col-md-4 flex-column'>
  <div class = "box">
  <%= link_to entry.title, entry.url, target: :_blank %><br>
  <%= entry.summary %><br>
  by: <%= entry.author %><br>
  <!-- <%= entry.image %> -->
  <%= entry.published.strftime('%v') + " " + entry.published.strftime('%r')%><br>
</div>
</div>
<% end %>

<br>
</div>
